/*font-family: 'Russo One', sans-serif;
font-family: 'Bungee', cursive;

*/

body { 
	background-image: url("assets/images/stardust.png");
	/*overflow-y: hidden;*/
	 /*no-repeat cover cover; */

 }

h1 {
	font-family: 'Russo One', sans-serif;
	color: white;
	margin-left: 20px;	
	font-size: 40px;
	text-align: center;
}

header {
	background-color: #18181A;
	margin-bottom: -20px;
	border-bottom: 2px solid grey;
}

nav { 
	height: 92px;
 }

 label {
 	font-size: 20px;
 	font-weight: bolder;
 }

 input {
 	color: white;

 }


.buttons {
	margin-left: 10px;
}

img {
	height: 140px;
	width: 300px;

}
.btn {
	margin-left: 75px;
}

.side-nav.fixed {
	background-color: #18181A;
}


/*This is the styling for the div container 'row' */
.row {
	margin-bottom: 0px;
}

.main {
	height: 700px;
}

