/*font-family: 'Russo One', sans-serif;
font-family: 'Bungee', cursive;

*/


h1 {
	font-family: 'Russo One', sans-serif;
	color: white;
	margin-left: 20px;	
	margin-top: 50px;
	font-size: 40px;
	text-align: center;
}

header {
	background-color: #18181A;
	/*margin-bottom: -20px;*/
	border-bottom: 2px solid grey;
}

nav { 
	height: 92px;
 }

 label {
 	font-size: 20px;
 	font-weight: bolder;
 }

 input {
 	color: white;

 }

button {
	margin-top: 8px;
	padding-right: 10px;
	text-align: center;

}


.headerImage {
	height: 140px;
	width: 300px;
	margin-left: 40px;
	/*transition: all .5s linear;
	margin-left: 80px;*/

}

/*@keyframes myanimation
{
    from {
        left: 0;
    }
    to {
        left: 80%;
    }
}

#image {
	animation: myanimation 5s; 
}*/

img {
	height: 250px;
	width: 300px;

}

.rate {
	text-transform: uppercase;
}

.container {
	width: 90%;
}


/*For Side-nav  bar not used currently */
/*.buttons {
	margin-left: 10px;
}

.btn {
	margin-left: 75px;
}

.side-nav.fixed {
	background-color: #18181A;
}


.row {
	margin-bottom: 0px;
}

.main {
	height: 700px;
}*/

